.triangle-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.paper-container{
    padding: 20px;
}

.container{

}
  
.inputfields-group {
    margin: 0 20px 20px 20px;
}

.button-group {
    gap: 10px;
}